*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-position: center ;
    background-attachment: fixed ;
    min-height: 100vh;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8e7174;
    color: white;
    padding: 25px 20px;
  }
  
  .sub-header {
    background-color: #f0e4cb;
    color: black;
    width: 100%;
    height: 50px;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .spiral-font {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .dashboard-button {
    background-color: transparent;
    border: none;
    color: rgba(251, 251, 251, 0.905);
    font-size: 1rem;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .dashboard-button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
  }
  

.container{
    border: black 2px;
    width: 100%;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    background: rgb(255, 255, 255);
    position: relative;
    display: flex;
    width: 800px;
    height: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    padding: 20px;
    margin-top: 50px;
    
}

.back-button {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    margin: -9px 0px 110px -10px;
  }

.col-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 0% ;
    /*background: rgba(255, 255, 255, 0.3 );*/
    backdrop-filter: blur(30px);
    border-radius: 0 30% 20% 0;
    transition: border-radius .3s;
    padding-bottom: 150px;
    padding-left: 150px;
}

.image{
    position: relative;
}

.form-image-main{
    position: relative;
    left: 0;
    width: 200px;
}

.judul{
    text-align: center;
    font-size: 50px;
}
.deskripsi{
    text-align: center;
    width: 245px;
    font-size: 23px;
    padding-top: 20px;
}

.col-2{
    position: relative;
    display: flex;
    width: 0%;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 150px;
    padding-left: 230px;
    
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 4vw;
}

.form-inputs{
    width: 100%;
}

.input-box{
    position: relative;
    right: 100px;
    
}

.input-field{
    width:300px ;
    height: 55px;
    padding: 0 15px;
    margin: 10px 0;
    color: rgb(0, 0, 0);
    border: 1px solid #a7a7a7;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-left: 40px;
    font-size: 16px;
}

.input-submit{
    width: 300px;
    height: 50px;
    background: #8e7c7c;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.input-submit:hover {
    background: #7c6c6c;
  }

.input-box .icon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.input-box .bx-envelope{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.input-box .bx-key{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.text{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 20px;
}

p{
    text-align: center;
    width: 260px;
    font-size: 23px;
    padding-top: 20px;
}

.register-text a {
    color: #007bff;
    text-decoration: none;
  }
  
.register-text a:hover {
    text-decoration: underline;
}
  


